@using ClientsTracker.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ClientsTracker</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Kendo/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ClientsTracker", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Clients<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(@Resources.Clients, "Index", "Clients", new { area = string.Empty }, null)</li>
                            </ul>
                        </li>

                        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink(Resources.Users, "Details", "Users", new { area = "Administration" }, null)</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    <div id="content">
        <br />
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.UtcNow.Year - ClientsTracker</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
